

<ul>
<% @users.each do |user| %>
	<li>
		<h2><%= link_to user.name, user_path(user.id) %></h2>
		<h4><%= link_to "Send Message", new_message_path(:message_to => user.id) %></h4>
		<h4><%= link_to "Send Request", requests_path(:recipient_id => user.id), method: :post %></h4>
	</li>
<% end %>	
</ul>