/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

* {
	margin: 0;
}

.alert {
	margin-bottom: 0px !important;
}


/*!!!!!!!!!!!*/
/* =navbar */
/*!!!!!!!!!!!*/

.navbar {
	height: 55px;
	background-color: #3b5998;
	margin: 0px !important;
}

.navbar-header {
	position: relative;
	left: 55px;
	top: 10px;
	width: 35px;
	height: 35px;
	background-image: url("facebook.png");
	background-repeat: none;
	background-size: contain;
	text-indent: -9999px;
	margin: 0;
}

.navbar-form {
	position: relative;
	left: 100px;
	top: -29px;
	height: 35px;
	width: 580px;
}

.navbar-form #search {
	width: 580px;
}

.navbar-nav{
	position: relative;
	top: -52px;
	left: 720px;
	width: 330px;
	float: none;
}

.navbar-nav ul {
	list-style: none;
}

.navbar-nav li {
	display: inline;
	padding: 0 2px;

}

 #search_results {
 	width: 300px;
 	position: absolute;
 	left: 260px;
 	list-style: none;
 	display: none;
 	background-color: #e4e4e4;
 	color: black;
 	z-index: 1;
 }









